@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
/*Text Hovering Column styling*/
.hoverColumn:hover{
   transform:translateX(10) translateY(0);
   transition:transform 0.2s ease-in-out;
   transform:translateX(20px);
}
/*Text Hovering Column styling ended*/

/*My Tests Menu Item styling begun*/
.dropdown-container li a:hover{
	color: #b0c4de;
}
/*My Tests Menu Item styling ended*/

/*My Tests Link styling started*/
#testLink{
	margin-top: 5px;
	top: 15px;
	text-decoration: none;
	margin-left: 0px;
	margin-right: 0px;
	left: 50px;
	float: center;
}
	