body {
  background-color: #eee;
  margin: 0;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container{
  width: 100%;
  min-height: 100vh;
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 20px;
}
.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 150px 0;
}
.col-1{
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
#resultstxt{
  font-weight: normal;
}
.value-container{
  font-weight: bold;
}
/* Fill button styling */
.reviewbtn {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 40px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.reviewbtn::after {
  content: "";
  background-color: #ffacac;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.reviewbtn:hover::after {
  top: 0;
  left: 0;
  border-radius: 0px;
}
/* End of reviewbtn Button  */

.alert{
  font-size: 17px;
  margin-top: 50px;
  width: 450px;
  background-color: #d4edda;
  padding: 15px;
  border-radius: 8px;
  border-style: solid;
  border-color: #d4edda;
}
.col-2{
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

/*score circle styling*/
.content{
  height: 300px;
  display: inline; 
  width: 300px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, .2);;
  display: grid;
  place-items: center;
  z-index: 1;
}
.circular-progress {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #ffffff;
  border-radius: 50%;
}
.value-container {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #000;
}
/*End of styling score circle*/

/*Header styling*/
.header {
  position:fixed;
  z-index: 100;
  width: 100%;
  height: 70px;
  background-color: #fff;
  text-align : center;
  top: 0;
}
.boxShadow{
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
#WebSite_Name{
  position:absolute;
  top:0;
  left:0;
  font-weight: bold;
  position: fixed;
  text-align : left;
  margin-left: 60px;
  margin-top: 20px;

}
b{ 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px; 
  font-weight: bold;
  z-index:10;
}
#websiteIcon{
  position:absolute;
  top:0;
  left:0;
  position:fixed;
  text-align : left;
  margin-top: 20px;
  margin-left: 20px;
}
#testLink{
    z-index: 1;
    position:fixed;
    text-align: center;
    top: 0;
    margin-top: 20px;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px; 
    font-weight: bold;
    text-decoration: none;
}
/*End of header styling*/

/*review sidebar styling*/
#review{
  margin-left: 8%;
  margin-right: 8%;
  display: none;
  font-size: 17px;
}
.titleOftheTest{
	font-weight: bold;
  font-size: 20px;
}
#titleOftheTest{
	font-weight: bold;
  font-size: 22px;
}
.left-content{
  flex-basis: 10%;
  position: relative;
}
.right-content{
  padding: 10px;
  position: relative;
  flex-basis: 70%;
  display: flex;
  align-items: center;
}
.nav-desc{
	height: 390px;
	overflow-x:scroll;
	overflow-x:hidden;
}
.navpills a{
  padding: 10px;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  border-color:#F8F9FA;
}
#sidebar-title{
  font-size: 20px;
}
.navpills a:hover{
  padding: 10px;
  color: #F8F9FA;
  background-color: #17a2b8;
  border-color: #17a2b8;
  text-decoration: none;
}
.right-content{
  display: inline;
	background-color:#F8F9FA;
	padding-top: 20px;
	padding-bottom: 20px;
  border-radius: 8px;
  border-style: solid;
  border-color: #F8F9FA;
}
.navbar{
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  border-style: solid;
  border-color: #fff;
  width: 150px;
  height: 390px;
}
/*End of review sidebar styling*/

/*Media query for adaptiveness*/
@media only screen and (max-width: 1000px){
  .row{
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .right-content{
    width: 100%;
  }
  col-2{
    flex-basis: 100%;
    margin-bottom: 50px;
    margin-top: 100px;
  }
  .left-content{
    display: none;
  }
}

/*Another media query for adaptiveness*/
@media only screen and (max-width: 500px){
	.col-1{
		display: block;
	}
	.alert{
		display: none;
	}
  	#reviewbtn{
   		display: block;
  }
}